body {
  margin: 0;
  padding: 10px;
  font-family: Inter, sans-serif;
  background: #131313;
  color: #eeeeee;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
}

span {
  display: inline-block;
}

/* User Defined classes and id's*/
.main {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary {
  height: 100vh;
}

.c-orange {
  color: #e76901;
}

.square {
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: 2px solid #e76901;
  box-shadow: 0 5px 20px rgb(10, 10, 10);
}

.circle {
  height: 140px;
  width: 140px;
  border-radius: 70px;
  background-color: transparent;
  border: 2px solid #e76901;
  box-shadow: 0 5px 20px rgb(10, 10, 10);
}

.pos-lb {
  position: absolute;
  bottom: 100px;
  left: 100px;
}

.pos-rt {
  position: absolute;
  top: 100px;
  right: 100px;
}

.subtle-rule {
    width: 30%;
    border: 3px solid rgb(29, 29, 29);
    border-top: none;
    border-right: none;
    border-left: none;
}

/* Responsive Design starts here */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .pos-lb {
    position: absolute;
    bottom: 40px;
    left: 20px;
  }

  .pos-rt {
    position: absolute;
    top: 30px;
    right: 50px;
  }
}
